<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Winner</title>
    <link href="/winner/style.css" rel="stylesheet"type="text/css"></link>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>welcome to the most awwsome website on the net </h1>
    <p>you won't find a website better anywhere esle!</p>
  </body>
</html>
